{% extends "base.html" %}

{% block content %}
    <!-- ##### Hero Area Start ##### -->
    <section class="hero-area">
      <div class="hero-slides owl-carousel">
        <!-- Single Hero Slide -->
        <div
          class="single-hero-slide bg-img"
          style="background-image: url(static/img/bg-img/bg1-first.jpg)"
        >
          <div class="container h-100">
            <div class="row h-100 align-items-center">
              <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                <div
                  class="hero-slides-content"
                  data-animation="fadeInUp"
                  data-delay="100ms"
                >
                  <h2 data-animation="fadeInUp" data-delay="300ms">
                    Exploring the World of Food Recipe Websites
                  </h2>
                  <p data-animation="fadeInUp" data-delay="700ms">
                    Discovering the Convenience and Delights of Cooking at Home
                  </p>
                  <a
                    href="#"
                    class="btn delicious-btn"
                    data-animation="fadeInUp"
                    data-delay="1000ms"
                    >See Receipe</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Single Hero Slide -->
        <div
          class="single-hero-slide bg-img"
          style="background-image: url(static/img/bg-img/pg2-first.jpg)"
        >
          <div class="container h-100">
            <div class="row h-100 align-items-center">
              <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                <div
                  class="hero-slides-content"
                  data-animation="fadeInUp"
                  data-delay="100ms"
                >
                 <h2 data-animation="fadeInUp" data-delay="300ms">
                    Exploring the World of Food Recipe Websites
                  </h2>
                  <p data-animation="fadeInUp" data-delay="700ms">
                    Discovering the Convenience and Delights of Cooking at Home
                  </p>
                  <a
                    href="#"
                    class="btn delicious-btn"
                    data-animation="fadeInUp"
                    data-delay="1000ms"
                    >See Receipe</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Single Hero Slide -->
        <div
          class="single-hero-slide bg-img"
          style="background-image: url(static/img/bg-img/pg3-first.jpg)"
        >
          <div class="container h-100">
            <div class="row h-100 align-items-center">
              <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                <div
                  class="hero-slides-content"
                  data-animation="fadeInUp"
                  data-delay="100ms"
                >
                 <h2 data-animation="fadeInUp" data-delay="300ms">
                    Exploring the World of Food Recipe Websites
                  </h2>
                  <p data-animation="fadeInUp" data-delay="700ms">
                    Discovering the Convenience and Delights of Cooking at Home
                  </p>
                  <a
                    href="#"
                    class="btn delicious-btn"
                    data-animation="fadeInUp"
                    data-delay="1000ms"
                    >See Receipe</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ##### Hero Area End ##### -->

    <!-- ##### Best Receipe Area Start ##### -->
    <section class="best-receipe-area">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="section-heading">
              <h3>The best Receipies</h3>
            </div>
          </div>
        </div>

        <div class="row">
          <!-- Single Best Receipe Area -->
          <div class="col-12 col-sm-6 col-lg-4">
            <div class="single-best-receipe-area mb-30">
              <img src="static/img/bg-img/r1.jpg" alt="" />
              <div class="receipe-content">
                <a href="{% url 'recipeDetails' %}">
                  <h5>Sushi Easy Receipy</h5>
                </a>
                <div class="ratings">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star-o" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>

          <!-- Single Best Receipe Area -->
          <div class="col-12 col-sm-6 col-lg-4">
            <div class="single-best-receipe-area mb-30">
              <img src="static/img/bg-img/r2.jpg" alt="" />
              <div class="receipe-content">
                <a href="receipe-post.html">
                  <h5>Homemade Burger</h5>
                </a>
                <div class="ratings">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star-o" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>

          <!-- Single Best Receipe Area -->
          <div class="col-12 col-sm-6 col-lg-4">
            <div class="single-best-receipe-area mb-30">
              <img src="static/img/bg-img/r3.jpg" alt="" />
              <div class="receipe-content">
                <a href="receipe-post.html">
                  <h5>Vegan Smoothie</h5>
                </a>
                <div class="ratings">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star-o" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>

          <!-- Single Best Receipe Area -->
          <div class="col-12 col-sm-6 col-lg-4">
            <div class="single-best-receipe-area mb-30">
              <img src="static/img/bg-img/r4.jpg" alt="" />
              <div class="receipe-content">
                <a href="receipe-post.html">
                  <h5>Calabasa soup</h5>
                </a>
                <div class="ratings">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star-o" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>

          <!-- Single Best Receipe Area -->
          <div class="col-12 col-sm-6 col-lg-4">
            <div class="single-best-receipe-area mb-30">
              <img src="static/img/bg-img/r5.jpg" alt="" />
              <div class="receipe-content">
                <a href="receipe-post.html">
                  <h5>Homemade Breakfast</h5>
                </a>
                <div class="ratings">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star-o" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>

          <!-- Single Best Receipe Area -->
          <div class="col-12 col-sm-6 col-lg-4">
            <div class="single-best-receipe-area mb-30">
              <img src="static/img/bg-img/r6.jpg" alt="" />
              <div class="receipe-content">
                <a href="receipe-post.html">
                  <h5>Healthy Fruit Desert</h5>
                </a>
                <div class="ratings">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star-o" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ##### Best Receipe Area End ##### -->
{% endblock %}
